@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_App</title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script_curses_page.js"></script>

</head>
<body>

    <header>
        <div class="container">
            <a href="#" class="logo">
                <img src="images/teacher.jpeg" alt="">
            </a>
            <nav>
                <ul class="main-menu">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                        </li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="TVShows" asp-action="Index">TV Shows</a></li>
                        @if (!(await UserManager.GetUserAsync(User))?.EmailConfirmed ?? false)
                        {
                            <li class="nav-item">
                                <span class="text-warning">Please confirm your email address!</span>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }

                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" title="Manage">LogOut</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </header>


    <main>
        @RenderBody()
    </main>
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 1446 - Project_Show_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

